Repository ungdev/UA-front, pull requests merged in 2021-10, with the labels that each got.

#180 fix(account): added back route update for patch /users/current
  src/modules/login.js
  src/pages/dashboard/account.jsx
Labels: fix, dashboard

#183 fix(style): updated style for banner, scoup and checkbox
  src/components/CookieConsent.jsx
  src/components/CookieConsent.scss
  src/components/UI/Checkbox.jsx
  src/components/UI/Checkbox.scss
  src/pages/dashboard/shop.jsx
  src/pages/dashboard/shop.scss
Labels: facile

#184 fix(tickets): api route update
  src/pages/dashboard/account.jsx
Labels: fix, facile, dashboard

#197 Fix/admin
  src/components/Navbar.jsx
  src/components/UI/Modal.scss
  src/components/UI/Radio.jsx
  src/components/UI/Radio.scss
  src/components/UI/Table.jsx
  src/components/UserModal.jsx
  src/components/UserModal.scss
  src/components/Wrapper.jsx
  src/modules/login.js
  src/modules/tournament.js
  src/modules/userEntry.js
  src/modules/users.js
  src/pages/admin/users.jsx
  src/pages/admin/users.scss
  src/utils/permission.ts
Labels: dashboard, amélioration
